--
-- PostgreSQL database dump
--

\restrict aEf0x8DQ0VKfDmSums64YaOcvdINJhqfgZlzy9Yjdq6B7ygisY7TOkkbeIvXImJ

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: cerez_tercihleri; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cerez_tercihleri (
    id integer NOT NULL,
    kullanici_id integer NOT NULL,
    analitik_izni boolean DEFAULT false NOT NULL,
    kisisellesirme_izni boolean DEFAULT false NOT NULL,
    guncelleme_tarihi timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cerez_tercihleri OWNER TO postgres;

--
-- Name: cerez_tercihleri_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cerez_tercihleri_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cerez_tercihleri_id_seq OWNER TO postgres;

--
-- Name: cerez_tercihleri_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cerez_tercihleri_id_seq OWNED BY public.cerez_tercihleri.id;


--
-- Name: dead_letter_queue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dead_letter_queue (
    id integer NOT NULL,
    workflow_name text NOT NULL,
    payload jsonb NOT NULL,
    error_message text,
    retry_count integer DEFAULT 0 NOT NULL,
    max_retries integer DEFAULT 3 NOT NULL,
    next_retry_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    resolved_at timestamp(3) without time zone
);


ALTER TABLE public.dead_letter_queue OWNER TO postgres;

--
-- Name: dead_letter_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dead_letter_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dead_letter_queue_id_seq OWNER TO postgres;

--
-- Name: dead_letter_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dead_letter_queue_id_seq OWNED BY public.dead_letter_queue.id;


--
-- Name: haberler; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.haberler (
    id integer NOT NULL,
    baslik text NOT NULL,
    slug text NOT NULL,
    meta_aciklama text,
    icerik text,
    kategori_id integer NOT NULL,
    kaynak_url text,
    gorsel_url text,
    sentiment text,
    okuma_suresi_dakika double precision,
    yayinlanma_tarihi timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    goruntulenme_sayisi integer DEFAULT 0 NOT NULL,
    durum text DEFAULT 'ham'::text NOT NULL,
    ml_confidence double precision,
    llm_provider text,
    augmented_at timestamp(3) without time zone,
    kategori_dogrulandi boolean DEFAULT false NOT NULL
);


ALTER TABLE public.haberler OWNER TO postgres;

--
-- Name: haberler_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.haberler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.haberler_id_seq OWNER TO postgres;

--
-- Name: haberler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.haberler_id_seq OWNED BY public.haberler.id;


--
-- Name: kategoriler; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kategoriler (
    id integer NOT NULL,
    ad text NOT NULL,
    slug text NOT NULL,
    renk_kodu text NOT NULL,
    ikon text
);


ALTER TABLE public.kategoriler OWNER TO postgres;

--
-- Name: kategoriler_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kategoriler_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kategoriler_id_seq OWNER TO postgres;

--
-- Name: kategoriler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kategoriler_id_seq OWNED BY public.kategoriler.id;


--
-- Name: kullanicilar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kullanicilar (
    id integer NOT NULL,
    email text NOT NULL,
    sifre_hash text NOT NULL,
    ad text NOT NULL,
    tercih_kategorileri text[],
    olusturulma_tarihi timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.kullanicilar OWNER TO postgres;

--
-- Name: kullanicilar_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kullanicilar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kullanicilar_id_seq OWNER TO postgres;

--
-- Name: kullanicilar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kullanicilar_id_seq OWNED BY public.kullanicilar.id;


--
-- Name: llm_kullanm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.llm_kullanm (
    id integer NOT NULL,
    saglayici text NOT NULL,
    giris_token_sayisi integer NOT NULL,
    cikis_token_sayisi integer NOT NULL,
    tahmini_maliyet double precision,
    tarih timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    durum text DEFAULT 'basarili'::text NOT NULL,
    hata_mesaji text
);


ALTER TABLE public.llm_kullanm OWNER TO postgres;

--
-- Name: llm_kullanm_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.llm_kullanm_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.llm_kullanm_id_seq OWNER TO postgres;

--
-- Name: llm_kullanm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.llm_kullanm_id_seq OWNED BY public.llm_kullanm.id;


--
-- Name: manuel_validasyonlar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manuel_validasyonlar (
    id integer NOT NULL,
    haber_id integer NOT NULL,
    eski_kategori_id integer,
    yeni_kategori_id integer NOT NULL,
    dogrulayan_email text,
    karar_turu text NOT NULL,
    batch_id text NOT NULL,
    olusturulma_tarihi timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notlar text
);


ALTER TABLE public.manuel_validasyonlar OWNER TO postgres;

--
-- Name: manuel_validasyonlar_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.manuel_validasyonlar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.manuel_validasyonlar_id_seq OWNER TO postgres;

--
-- Name: manuel_validasyonlar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.manuel_validasyonlar_id_seq OWNED BY public.manuel_validasyonlar.id;


--
-- Name: model_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.model_state (
    id integer NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    model_data jsonb NOT NULL,
    accuracy double precision,
    trained_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    sample_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.model_state OWNER TO postgres;

--
-- Name: okuma_gecmisi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.okuma_gecmisi (
    id integer NOT NULL,
    kullanici_id integer NOT NULL,
    haber_id integer NOT NULL,
    okuma_tarihi timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.okuma_gecmisi OWNER TO postgres;

--
-- Name: okuma_gecmisi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.okuma_gecmisi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.okuma_gecmisi_id_seq OWNER TO postgres;

--
-- Name: okuma_gecmisi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.okuma_gecmisi_id_seq OWNED BY public.okuma_gecmisi.id;


--
-- Name: cerez_tercihleri id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cerez_tercihleri ALTER COLUMN id SET DEFAULT nextval('public.cerez_tercihleri_id_seq'::regclass);


--
-- Name: dead_letter_queue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dead_letter_queue ALTER COLUMN id SET DEFAULT nextval('public.dead_letter_queue_id_seq'::regclass);


--
-- Name: haberler id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.haberler ALTER COLUMN id SET DEFAULT nextval('public.haberler_id_seq'::regclass);


--
-- Name: kategoriler id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kategoriler ALTER COLUMN id SET DEFAULT nextval('public.kategoriler_id_seq'::regclass);


--
-- Name: kullanicilar id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kullanicilar ALTER COLUMN id SET DEFAULT nextval('public.kullanicilar_id_seq'::regclass);


--
-- Name: llm_kullanm id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_kullanm ALTER COLUMN id SET DEFAULT nextval('public.llm_kullanm_id_seq'::regclass);


--
-- Name: manuel_validasyonlar id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuel_validasyonlar ALTER COLUMN id SET DEFAULT nextval('public.manuel_validasyonlar_id_seq'::regclass);


--
-- Name: okuma_gecmisi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.okuma_gecmisi ALTER COLUMN id SET DEFAULT nextval('public.okuma_gecmisi_id_seq'::regclass);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: cerez_tercihleri cerez_tercihleri_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cerez_tercihleri
    ADD CONSTRAINT cerez_tercihleri_pkey PRIMARY KEY (id);


--
-- Name: dead_letter_queue dead_letter_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dead_letter_queue
    ADD CONSTRAINT dead_letter_queue_pkey PRIMARY KEY (id);


--
-- Name: haberler haberler_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.haberler
    ADD CONSTRAINT haberler_pkey PRIMARY KEY (id);


--
-- Name: kategoriler kategoriler_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kategoriler
    ADD CONSTRAINT kategoriler_pkey PRIMARY KEY (id);


--
-- Name: kullanicilar kullanicilar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kullanicilar
    ADD CONSTRAINT kullanicilar_pkey PRIMARY KEY (id);


--
-- Name: llm_kullanm llm_kullanm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_kullanm
    ADD CONSTRAINT llm_kullanm_pkey PRIMARY KEY (id);


--
-- Name: manuel_validasyonlar manuel_validasyonlar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuel_validasyonlar
    ADD CONSTRAINT manuel_validasyonlar_pkey PRIMARY KEY (id);


--
-- Name: model_state model_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_state
    ADD CONSTRAINT model_state_pkey PRIMARY KEY (id);


--
-- Name: okuma_gecmisi okuma_gecmisi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.okuma_gecmisi
    ADD CONSTRAINT okuma_gecmisi_pkey PRIMARY KEY (id);


--
-- Name: cerez_tercihleri_kullanici_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX cerez_tercihleri_kullanici_id_key ON public.cerez_tercihleri USING btree (kullanici_id);


--
-- Name: haberler_augmented_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_augmented_at_idx ON public.haberler USING btree (augmented_at);


--
-- Name: haberler_durum_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_durum_idx ON public.haberler USING btree (durum);


--
-- Name: haberler_durum_sentiment_yayinlanma_tarihi_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_durum_sentiment_yayinlanma_tarihi_idx ON public.haberler USING btree (durum, sentiment, yayinlanma_tarihi DESC);


--
-- Name: haberler_durum_yayinlanma_tarihi_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_durum_yayinlanma_tarihi_idx ON public.haberler USING btree (durum, yayinlanma_tarihi DESC);


--
-- Name: haberler_kategori_id_durum_yayinlanma_tarihi_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_kategori_id_durum_yayinlanma_tarihi_idx ON public.haberler USING btree (kategori_id, durum, yayinlanma_tarihi DESC);


--
-- Name: haberler_kategori_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_kategori_id_idx ON public.haberler USING btree (kategori_id);


--
-- Name: haberler_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX haberler_slug_key ON public.haberler USING btree (slug);


--
-- Name: haberler_yayinlanma_tarihi_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX haberler_yayinlanma_tarihi_idx ON public.haberler USING btree (yayinlanma_tarihi DESC);


--
-- Name: kategoriler_ad_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX kategoriler_ad_key ON public.kategoriler USING btree (ad);


--
-- Name: kategoriler_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX kategoriler_slug_key ON public.kategoriler USING btree (slug);


--
-- Name: kullanicilar_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX kullanicilar_email_key ON public.kullanicilar USING btree (email);


--
-- Name: llm_kullanm_saglayici_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX llm_kullanm_saglayici_idx ON public.llm_kullanm USING btree (saglayici);


--
-- Name: llm_kullanm_saglayici_tarih_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX llm_kullanm_saglayici_tarih_idx ON public.llm_kullanm USING btree (saglayici, tarih DESC);


--
-- Name: llm_kullanm_tarih_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX llm_kullanm_tarih_idx ON public.llm_kullanm USING btree (tarih DESC);


--
-- Name: manuel_validasyonlar_batch_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX manuel_validasyonlar_batch_id_idx ON public.manuel_validasyonlar USING btree (batch_id);


--
-- Name: manuel_validasyonlar_haber_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX manuel_validasyonlar_haber_id_idx ON public.manuel_validasyonlar USING btree (haber_id);


--
-- Name: manuel_validasyonlar_olusturulma_tarihi_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX manuel_validasyonlar_olusturulma_tarihi_idx ON public.manuel_validasyonlar USING btree (olusturulma_tarihi DESC);


--
-- Name: cerez_tercihleri cerez_tercihleri_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cerez_tercihleri
    ADD CONSTRAINT cerez_tercihleri_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: haberler haberler_kategori_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.haberler
    ADD CONSTRAINT haberler_kategori_id_fkey FOREIGN KEY (kategori_id) REFERENCES public.kategoriler(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: manuel_validasyonlar manuel_validasyonlar_haber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuel_validasyonlar
    ADD CONSTRAINT manuel_validasyonlar_haber_id_fkey FOREIGN KEY (haber_id) REFERENCES public.haberler(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: manuel_validasyonlar manuel_validasyonlar_yeni_kategori_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manuel_validasyonlar
    ADD CONSTRAINT manuel_validasyonlar_yeni_kategori_id_fkey FOREIGN KEY (yeni_kategori_id) REFERENCES public.kategoriler(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: okuma_gecmisi okuma_gecmisi_haber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.okuma_gecmisi
    ADD CONSTRAINT okuma_gecmisi_haber_id_fkey FOREIGN KEY (haber_id) REFERENCES public.haberler(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: okuma_gecmisi okuma_gecmisi_kullanici_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.okuma_gecmisi
    ADD CONSTRAINT okuma_gecmisi_kullanici_id_fkey FOREIGN KEY (kullanici_id) REFERENCES public.kullanicilar(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict aEf0x8DQ0VKfDmSums64YaOcvdINJhqfgZlzy9Yjdq6B7ygisY7TOkkbeIvXImJ

